
    .expense-item {
        display: block; 
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
        font-size: larger;
        font-family: cursive; 
      }
      
      .expense-content {
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
      }
      
      .settle-button {
        margin-right: 10px; 
        font-size: 1rem; 
        
      }
      
      .expense-details {
        flex-grow: 1; 
        display: block; 
        flex-direction: column; 
        font-size: 1.2rem; 
        color: #000; 
      }
      
      .status-not-settled {
        color: red;
      }
      
      .status-settled {
        color: green; 
      }
      